<div class="col-md-12">
    {{#if productos.length}}
        {{#each productos}}
            <p class="m-0">
                <b class="text-primary fw-bold">{{email}}</b> 
                <span style="color: brown;">[{{dateTime}}]</span>: 
                <i style="color: green;">{{message}}</i>
            </p>
        {{/each}}
    {{else}}
    <div class="alert alert-warning" role="alert">
        No se encontraron productos
    </div>
    {{/if}}
</div>